<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uber rides prediction</title>
</head>
<body>
    <h1> Uber Rides prediction</h1>
    <form action="{% url 'test' %}" method="post">
        {% csrf_token %}
        Enter price per week
        <input type="number" name="ppw"><br> <br>
        Enter population
        <input type="number" name="pn"><br> <br>
        Enter monthly income
        <input type="number" name="mi"><br>  <br>
        Enter average parking per month
        <input type="number" name="appm"><br> <br>
        <input type="submit" name="Predict">
    </form>
     {% if res %}
     <h2>{{res}}</h2>
      {% endif %}
</body>
</html>